[submodule "kotlin-springboot"]
	path = kotlin-springboot
	url = https://github.com/knowledgefactory4u/kotlin_springboot_app
[submodule "spring-boot-mongo-angular-fullstack-dev"]
	path = spring-boot-mongo-angular-fullstack-dev
	url = https://github.com/knowledgefactory4u/spring-boot-mongo-angular-fullstack-dev
