<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Add User</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
<script
	src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js">
	
</script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js">
	
</script>
</head>

<body>
	<div class="container my-5">
		<h3 th:if="${user.id != null}">Edit User</h3>
		<h3 th:if="${user.id == null}">Add User</h3>
		<div class="card">
			<div class="card-body">
				<div class="col-md-10">
					<form action="#" th:action="@{/createOrUpdateUser}"
						th:object="${user}" method="post">
						<div class="row">
							<div class="form-group col-md-8">
								<label for="name" class="col-form-label"> First Name </label> <input
									type="text" th:field="*{firstName}" class="form-control"
									id="firstName" placeholder="First Name" />
							</div>

							<div class="form-group col-md-8">
								<label for="name" class="col-form-label"> Last Name </label> <input
									type="text" th:field="*{lastName}" class="form-control"
									id="lastName" placeholder="Last Name" />
							</div>

							<div class="form-group col-md-8">
								<label for="email" class="col-form-label"> Email </label> <input
									type="text" th:field="*{email}" class="form-control" id="email"
									placeholder="Email Id" />
							</div>

							<div class="col-md-6">
								<input type="submit" class="btn btn-success" value=" Submit ">
							</div>

							<input type="hidden" id="id" th:field="*{id}">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>