<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>All Users</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
<script
	src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js">
	
</script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js">
	
</script>

</head>

<body>
	<div class="container my-2">
		<div class="card">
			<div class="card-body">
				<div th:switch="${users}" class="container my-5">
					<p class="my-5">
						<a href="/addOrEdit" class="btn btn-success"> <i
							class="fas fa-user-plus ml-2"> Add User </i>
						</a>
					</p>
					<div class="col-md-10">
						<h2 th:case="null">No record found !!</h2>
						<div th:case="*">
							<table class="table table-striped table-responsive-md">
								<thead>
									<tr>
										<th>First Name</th>
										<th>Last Name</th>
										<th>Email</th>
										<th>Edit</th>
										<th>Delete</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="user : ${users}">
										<td th:text="${user.firstName}"></td>
										<td th:text="${user.lastName}"></td>
										<td th:text="${user.email}"></td>
										<td><a th:href="@{/addOrEdit/{id}(id=${user.id})}"
											class="btn btn-warning"> <i class="fas fa-user-edit ml-2"></i>
										</a></td>
										<td><a th:href="@{/delete/{id}(id=${user.id})}"
											class="btn btn-danger"> <i class="fas fa-user-times ml-2"></i>
										</a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>